<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <img src="img/profile.png" alt="fikri" width="17%" class="rounded-circle">
            <h2 class="display-3">M. Fikri</h2>
            <p class="lead">Web Programmer</p>
        </div>
    </div>
</div>